body{
    background-size: cover;
    overflow:visible;
}
.heading
{
font-size: 23px;
width: 50%;
margin-top: 100px;
box-shadow: 5px 5px 5px grey,-5px -5px 5px grey;
height: 40%;
backdrop-filter: blur(-250px);
background: linear-gradient(45deg,#ba21ba,pink,blue);
}
a
{
    margin: 50px;
    width: 90%;
    margin-left: 30px;
}
a:hover
{
    background:linear-gradient(-45deg,#a3f707,rgb(10, 248, 189),blue);
}